<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add-Product web</title>
    <link rel="stylesheet" href="/style/styling.css">
</head>
<body>
    <header >
        <nav class="navi">
            <a class="items" href="/">_Shop</a><br/><br/>
            <a class="items" href="/admin/add-product">_Add-Product</a>
        </nav>
    </header>

    <main>
        <h1 style="font-size:20px;">Add Products here.</h1>
        <form style="text-align: center;margin:30px;" action="/admin/add-product" method="POST">
            <input type="text" name="product"><br/>
                <button style="margin:20px; border:3px solid blueviolet;outline: 4px solid blue;" type="submit">
                    Add-Product
                </button>
        </form>
    </main>
</body>
</html>