<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Error</title>
    <link rel="stylesheet" href="/style/styling.css">
</head>
<body>
        <header >
                <nav class="navi">
                    <a class="items" href="/">_Shop</a><br/><br/>
                    <a class="items" href="/admin/add-product">_Add-Product</a>
                </nav>
        </header>
        
    <h1 style="text-align: center"><strong>Page not found</strong></h1>
    <p style="border:2px double salmon ;width:40%">Please go back to some other link</p>
</body>
</html>