<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add-Product web</title>
<link rel="stylesheet" href="/style/styling.css">
</head>
<body>
    <header>
        <nav class="navi">
            <a class="items" href="/">_Shop</a><br/><br/>
            <a class="items" style="text-indent: 25px"href="/admin/add-product">_Add-Product</a>
        </nav>
    </header>

    <main>
        <h1 style="text-decoration: underline">Welcome to the products page</h1>
        <p>Here we have all the products...</p>
    </main>
</body>
</html>